* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #060a1f;
  height: 85%;
  overflow-y: scroll;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form_container {
  min-width: 99%;
  max-width: 99%;
  margin: 1.5vh;

  border-radius: 5px;
}
.form_input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  min-width: 84%;
}

.form-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.Button2 {
  display: inline-block;
    border: none;
    outline: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 25vh;
    margin-left: 2%

}

.Button2:hover {
  background-color: #666;
}
