.container1{
    width: 250px;
  height: 250px;
  background: linear-gradient(180deg, #f08, #d0e);
  border-radius: 30px;
}
.example-container {
    height: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #f08, #3b43de);
  }